aniso8601==8.0.0
blessed==1.16.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.1.1
Flask-RESTful==0.3.7
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
keyring==8.7
keyrings.alt==1.3
kiwisolver==1.1.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
measurement==3.2.0
mpmath==1.1.0
myfitnesspal==1.13.4
numpy==1.22.0
pandas==0.25.3
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scikit-learn==0.22
scipy==1.4.0
six==1.13.0
sklearn==0.0
sympy==1.5
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.16.0
